.career-section {
  background: linear-gradient(135deg, #102542, #1f3b73);
  padding-top: 80px;
  padding-bottom: 80px;
}

.career-title {
  font-size: 42px;
  color: #fff;
}

.career-card {
  background: #ffffff;
  border-radius: 15px;
  transition: 0.3s;
}

.career-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.career-icon {
  font-size: 40px;
  color: #0d6efd;
}

.btn-apply {
  background-color: #0d6efd;
  color: #fff;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
  text-decoration: none;
}

.btn-apply:hover {
  background-color: #084298;
  color: #fff;
}
